.config/nvim/autoload
!.config/nvim/autoload/vim-airline-themes/autoload/airline/themes/simple.vim
.config/nvim/bundle
.config/nvim/dirs
.config/nvim/plugged

.vim/autoload
!.vim/autoload/vim-airline-themes/autoload/airline/themes/simple.vim
.vim/bundle
.vim/dirs
.vim/plugged

tmp
viminfo
.*.pyc
__pycache__
node_modules
.yarn
